            <div class="notepad-author-info">
                <div class="row">
                    <section class="notepad-post-author small-12 columns">
                        
                            <img src="{{site.url}}/images/{{ site.owner.avatar }}" class="notepad-post-author-avatar" alt="{{ site.owner.name }}'s photo">
                        
                        
                            <span class="author-label">Author</span>
                            <h1>{{ site.owner.name }}</h1>
                        
                        
                            <p><a href="https://github.com/{{ site.owner.github }}" class="author-website">Repositories on Github</a></p><p>

			    <a href="https://twitter.com/nickgiango" class="twitter-follow-button" data-show-count="false">Follow @nickgiango</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
			    </p>
                        
                        
                            <p>{{ site.owner.description }}</p>
                        
                    </section>
                </div>
            </div>
